{% extends '/admin/baseadmin.html.twig' %}

{% block body %}
<h1> modifier user</h1>
{% for user in users %}

<a href="{{ path("admin_user_create", {id:user.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>

<div class="deco">
<table  class="t1 t2">        
        <thead> 
            <tr>
            <th >Nom</th>
            <th >Prenom</th>
            <th >telephone</th>
            <th >email</th>
            <th >roles</th>
            <th >modifer</th>
            </tr> 
        </thead>
        <tbody> 
        <tr>
            <td >{{user.Nom}}</td>
            <td >{{user.Prenom}}</td>
            <td >{{user.telephone}}</td>
            <td >{{user.email}}</td>
            

            <td><a href="{{ path("admin_user_edit", {id:user.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>
        </td>
        </tr>
        </tbody> 

<div class="btn">

</div>

{% endfor %}


{% endblock %} 
