{% extends '/admin/baseadmin.html.twig' %}

{% block body %}
<h1>administer recette</h1>

<a href="{{ path("admin_recette_create" ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-ajouter-48.png"></a>

<div class="deco">
<table  class="t1 t2">        
        <thead> 
            <tr>
            <th >Title</th>
            <th>description</th>
            <th>TpsPrepa</th>
            <th>TpsPrepa</th>
            <th>TpsCuisson</th>
            <th>Modifer</th>
            <th>Supprimer</th>
            </tr> 
        </thead>
        <tbody> 
        {% for recette in recettes %}
        <tr>
            <td >{{recette.title}}</td>
            <td>{{recette.Description}}</td>
            <td>{{recette.TpsPrepa|date("H:i", false)}}</td>
            <td>{{recette.TpsRepos|date("H:i", false)}}</td>
            <td>{{recette.TpsCuisson|date("H:i", false)}}</td>
            <td><a href="{{ path("admin_recette_edit", {id:recette.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-modifier-la-propriété-48.png"></a>
            <td><a href="{{ path("admin_recette_delete", {id:recette.id} ) }}" type="button" class="btn btn-outline-primary"> <img src="../photo/icons8-supprimer-48.png"></a>
        </td>
        </tr>
        </tbody> 


    {% endfor %}
        

{% endblock %} 