<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="main-navlinks">
        <div class="navlinks-container">
          <a href="" aria-current="page">Accueil</a>
          <a href= "">Recette</a>
          <a href="">mention legale</a>
          <a href="">contact</a>
          {% if app.user %}
        <div>
        <li class="menu-deroulant">
          <a>Mon profil</a>
            <ul class="sous-menu">
               <li><a class="sous-menu-cache" href="{{ path('app_user') }}">Mon profil</a></li>
               <li><a class="sous-menu-cache" href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </li>
        </div>
      {% else %}
          <div>
          <li class="menu-deroulant">
          <a>Se connecter</a>
          <ul class="sous-menu">
                <li><a class="sous-menu-cache"  href="{{ path('app_login') }}">Se connecter</a></li>
              </ul>
             
          </div>
    {% endif %}
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}

      <a href="{{ path('admin_accueil') }}">Section Admin</a>
    {% endif %}
    
  
        {% block body %}{% endblock %}
    </body>
</html>
