<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
          {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/style.css')}}">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    <nav class="navbar">
      <a href="#" class="logo"> ADVENTURE</a>
      <div class="nav-links">
        <ul>
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="{{path('recette')}}">Recette</a></li>
            <li><a href="#">Mention Legale</a></li>
            <li><a href="#">Nous contacter</a></li>
            {% if app.user %}
        <div>
        <li>
          <a>Mon profil</a>
            <ul>
              <li><a href="{{ path('app_user') }}">Mon profil</a></li>
              <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </li>
        </div>
      {% else %}
          <div>
          <li>
          <a>Se connecter</a>
          <ul>
            <li><a class="sous-menu-cache"  href="{{ path('app_login') }}">Se connecter</a></li>
          </ul>
             
          </div>
    {% endif %}
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}

      <a href="{{ path('admin_accueil') }}">Section Admin</a>
    {% endif %}
        </ul>
      </div>
      <img src="" atl"menu hamburger" class="menu-hamburger">
    </nav>
  
        {% block body %}
        

        
        
        {% endblock %}
    </body>
</html>
